<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Access-Control-Allow-Origin" content="*">
    <title>SOFT Library</title>

    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <script src="resources/js/jquery-1.11.0.min.js"></script>
    <script src="resources/js/jquery.livequery.js"></script>
    <link rel="stylesheet" href="resources/css/jquery-ui.css">
 	 <script src="resources/js/jquery-1.11.0.min.js"></script>
  	<script src="resources/js/jquery-ui.js"></script>
  	 <script src="resources/js/lib.js"></script>
  	 <script src="node_modules/socket.io-client/dist/socket.io.js"></script>
  	<script src="resources/js/jquery.contextmenu.js"></script>
  	<link rel="stylesheet" href="resources/css/jquery.contextmenu.css">
  	<script src="bootstrap/js/bootstrap.min.js"></script>
  	  <link href="resources/css/bootstrap-combined.min.css" rel="stylesheet"></link>
   <script src="resources/js/jquery.jsPlumb-1.5.4-min.js"></script>
   <style type="text/css">
   .popover-content {
   		width: 100%;
   		overflow: scroll;
   }
   .message span{
   		margin-left: 40px;
   
   }
   </style>
   <script>
   var idc = '{{idc}}';
   var messages = new Params();
   
   function compare(a,b) {
   		//if (a.params.event == 'emit' && b.params.event == 'on') return -1;
  		if (a.params.ts < b.params.ts) return -1;
  		if (a.params.ts > b.params.ts) return 1;
  		return 0;
	}

	function cleanMessageId(idm){
		var parts = idm.split('_');
		parts = parts.slice(0,parts.length-2);
		return parts.join();
	}

   function setClientName(){
   		if(localStorage[idc]) $('#clientName').html(localStorage[idc]);
   		else $('#clientName').html(idc);
   }
   
   function complementMessageId(cid,idm,event){
		return idm+(event == 'on' ? '_s_' : '_c_');
		//return idm+(cid == 'server' ? '_s_' : '_c_');
	}
   
   
   $(document).ready(function(){
  		var socket = io.connect('http://127.0.0.1:8125');
		var queryDetector = 'query';
		socket.on('debugger_result_client', function (obj) {
			var params = demarshal(obj);
			setClientName();
			console.log(obj[0]);
			console.log(params);
			
			
			if((obj[0] != 'disconnect' && obj[0] != 'connecting' && obj[0] != 'connect' /*&& (params.event == 'emit' || params.event == 'on')*/) && (params.cid === idc || (params.cid == "server" && (params.sender == idc) || (params.sender == 'server'/*server can send requests to mysql for instance*/)))){
				//console.log(obj[0]);
				//console.log(params);
				params.idm = complementMessageId(params.cid,params.idm,params.event);
				if(!messages[params.prev]) messages[params.prev] = new Array();
				
				messages[params.prev].push({'obj':obj,'params':params});
				
				
				//var line = '';
				var idLines = new Array();
				
				
				$('#cascade').html('');
				for (var key in messages) {
					messages[key].sort(compare);
					for(var i = 0; i < messages[key].length; i++){
						var lineId = messages[key][i].params.idm+(messages[key][i].params.cid == "server" ? 's' : 'c');
					
						if(idLines.indexOf(lineId) !== -1) {
						
							$('#'+lineId).removeClass('nok');
							$('#'+lineId+' > span:first').remove();
							continue;
						}
						idLines.push(lineId);
						var classPaused = messages[key][i].params.mstatus === 'p' ? ' nok' : '';
						var replyMessage = classPaused ? '<span class="glyphicon glyphicon-repeat"></span>' : '';
						
						
						var isMysql = messages[key][i].params.cid === "server" && (messages[key][i].obj[0].substring(0,queryDetector.length) === queryDetector);
						var isServer = (messages[key][i].params.cid === "server") && !isMysql;
						
						var isClient = !isServer && !isMysql && (messages[key][i].params.event == 'emit' || messages[key][i].params.event == 'on');
						var isDOM = !isServer && !isClient && !isMysql;
						var divLine = '<div class="message'+classPaused+'"  id="'+lineId+'">'+messages[key][i].obj[0]+' ('+messages[key][i].params.event+') '+messages[key][i].params.ts+replyMessage+'</div>';
						
				 		var line = '<tr class="line">'
		  +'<td>'+(isDOM  ? divLine : '')+'</td>'
		  +'<td>'+(isClient  ? divLine : '')+'</td>'
		  +'<td>'+(isServer  ? divLine : '')+'</td>'
		  +'<td>'+(isMysql  ? divLine : '')+'</td>'
		  +'</tr>';
		  				window.scrollTo(0,document.body.scrollHeight);
  						//$('#cascade').append(line);
  						$(line).appendTo('#cascade').hide().fadeIn(1000);
  						$('#'+lineId).popover({
        					title: messages[key][i].obj[0],
        					content: JSON.stringify(messages[key][i].obj[1]),
							placement: 'auto',
							delay: { show: 100, hide: 100 }
    					});
    					
    					$('.message').click(function(){
    						$('.message').not(this).popover('hide'); //all but this
						});
						$('.message span').click(function(e){
							e.preventDefault();
							e.stopPropagation();
							
							var idm = $(this).parent().attr('id').slice(0, -1);
							
							
							socket.emit('debug@resend',{'client': idc, 'message': cleanMessageId(idm)});
							
							$(this).parent('span').html('');
							
						});
  					}
  						
  					
  				
  				}
  				
  				
  				
  				//$('#cascade').html(line);
  				
  				
  			}
  		});
  				/*$('#table tr')
         .add(line) // add the new tr to the collection
         .sort(function(a, b){  // sort them
             return a.id > b.id
         })
         .appendTo('#table'); 
  				
  				window.scrollTo(0,document.body.scrollHeight);
  			}
  		});*/
  		setClientName();
  		
  		
  	});	
    	
  
  	
  	/*jsPlumb.bind("ready", function() {
  		var firstInstance = jsPlumb.getInstance();
  		
  		firstInstance.importDefaults({
  Connector : [ "Bezier", { curviness: 100 } ],
  Anchors : [ "BottomCenter", "TopCenter" ],
  PaintStyle:{ 
    lineWidth:1, 
    strokeStyle:"#333", 
    outlineColor:"#ccc", 
    outlineWidth:1 
  },
  Endpoint:[ "Dot", { radius:4 } ]
});

firstInstance.connect({
  source:"click", 
  target:"bae"
});

firstInstance.connect({
  source:"bae", 
  target:"bao"
});

/*firstInstance.connect({
  source:"bao", 
  target:"bare"
});

firstInstance.connect({
  source:"bare", 
  target:"baro"
});

});
*/
</script>
   <style type="text/css">
   .table th{
   	text-align: center;
   }
   .message{
   		padding: 8px 0px 8px 0px;
   		background-color: rgb(92, 184, 92);
   		text-align: center;
   		color: white;
   		-moz-border-radius: 15px;
		border-radius: 15px;
		margin: 8px 0px 8px 0px;
   }
   
   .message:hover{
   	background-color: #CCC;
   	cursor: pointer;
   }
   
   .nok{
   	background-color: rgb(240, 173, 78) !important;
   }
   #clientName{
   	padding: 7px;
   }
   
	#body{
   	overflow: scroll;
   }
   </style>
 </head>

  <body id="body">
  <h3 id="clientName">{{idc}}</h3>
  <div id="container">
  <table class="table" id="table" width="100%">
  <thead><tr><th width="25%">DOM</th><th width="25%">Client</th><th width="25%">Server</th><th width="25%">MySQL</th></tr></thead>
  <tbody id="cascade">
  
  
  
  
  
  
  </tbody>
  </table>
  </div>
  </body>
  
  
</html>