.containter{
		width: 100%;
		height: 100%
	}
	.box{
		width: 600px;
		height: 200px;
		border: 2px solid #ccc;
		display: block;
		overflow: scroll;
		margin-bottom: 50px;
		display: inline-block;
		
	}
	
	.dead{
		color: #f00 !important;
	}
	.tableInnerServer{
		width: 100% !important;
	}
	.tableInner{
		border: 0px solid #333;
		
	}
	.tableInner caption{
		font-size: 20px;
		font-weight: bold;
		margin-bottom:10px;
	}
	.tableInner th{
		width: 300px;
		font-size: 16px;
		border: 1px dotted #444;
		background: #eee;
		color: #555;
		height: 20px;
	}
	
	.tableInner td div{
		border: 2px solid #ccc;
		margin: 7px 0px 7px 0px;
		padding: 4px;
		
	
	}

	.tableInner td .ok{
		background-color: rgb(92, 184, 92);
		border-color: #4cae4c;
		margin: 4px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border-radius: 10px;
		
	}
	.tableInner td .nok{
		background-color: #f0ad4e;
		border-color: #eea236;
		margin: 4px;
		-moz-border-radius: 10px;
		border-radius: 10px;
		border-radius: 10px;
	}
	
	.tableInner tr p{
		font-size: 12px;
		font-weight: bold;
		color: #fff;
		margin: 0;
		padding: 0;
	}
	.tab_content{
		overflow: scroll;
	}
	.buttons{
		padding: 5px 0px 10px 5px;
	}
	
	.popover-all {
	  position: absolute;
	  top: 0;
	  left: 0;
	  z-index: 1010;
	  display: none;
	  padding: 5px;
	  
	  
	}
	.popover .arrow{
		display: none;
	}
	.popover-all.bottom {
	  margin-top: 5px ;
	}
	
	.popover-all.bottom .popover-arrow {
	  display: none;
	  top: 0;
	  left: 50%;
	  margin-left: -5px ;
	  border-left: 5px solid transparent ;
	  border-right: 5px solid transparent ;
	  border-bottom: 20px solid #000000 ;
	}
	
	.popover-all .popover-arrow {
	  position: absolute;
	  width: 0;
	  height: 0;
	  display: none;
	}
	
	.popover-inner {
	  padding: 3px;
	  width: 200px;
	  overflow: hidden;
	  background: #000000;
	  background: rgba(0, 0, 0, 0.8);
	  -webkit-border-radius: 6px;
	  -moz-border-radius: 6px;
	  border-radius: 6px;
	  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
	}
	.popover-title {
	  padding: 8px 14px;
	  margin: 0;
	  font-size: 14px;
	  font-weight: normal;
	  line-height: 18px;
	  background-color: #f7f7f7;
	  border-bottom: 1px solid #ebebeb;
	  -webkit-border-radius: 5px 5px 0 0;
	  -moz-border-radius: 5px 5px 0 0;
	  border-radius: 5px 5px 0 0;
	
	}
	
	.popover-content {
	  padding: 9px 14px;
	  background-color: #ffffff;
	  -webkit-border-radius: 0 0 3px 3px;
	  -moz-border-radius: 0 0 3px 3px;
	  border-radius: 0 0 3px 3px;
	  -webkit-background-clip: padding-box;
	  -moz-background-clip: padding-box;
	  background-clip: padding-box;
	  font-size: 9px;
	  overflow: scroll;
	  height: 250px;
	}
	.testo{
		-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
	
	}
	.testo p button{
		float: right;
		position: relative;
		margin-top: -35px;
	}
	.butRight{
		float: right; margin-right: 10px;
	}
	.pannel{
		width: 300px;
		background-color: #555;
		height: 30px;
		position: absolute;
		top: 5px;
		left: 40%;
		z-index: 1000;
		color: #fff;
		padding: 4px;
		 -webkit-border-radius: 5px 5px 5px 5px;
	     -moz-border-radius: 5px 5px 5px 5px;
	    border-radius: 5px 5px 5px 5px;
		
		
	}