<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SOFT Library</title>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <link href="resources/css/dashboard.css" rel="stylesheet">
    <link href="resources/css/cmxform.css" rel="stylesheet">
    
    <script src="resources/js/jquery-1.11.0.min.js"></script>
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
	<script src="resources/js/jquery.validate.js"></script>
	<script src="resources/js/lib.js"></script>
	<script src="resources/js/tracer.js"></script>
	<script>
	

  	var socket = io.connect('http://127.0.0.1:8124');
  	
  	var jad = new MIDAJ();	
	
	jad.subscribe(new Debugger(false));
	jad.subscribe(new CAUSEWAY(false));
	
	var socket = new SocketIOChannel(socket);
	jad.addChannel(socket,true);
	jad.addChannel(new jQueryChannel(),true);
	

  	
  	
  	socket.on('newbookResponse', function (data) {
		$('#loader').hide();
  		$('#addBookBut').show();
		$('#addBookForm').trigger("reset");
		console.log("ok1");
  	});
  	
  	socket.on('newbookResponse', function (data) {
		console.log("ok");
  	});
  	
  	//document load is ok
  	$(document).ready(function(){
  		$('#addBookForm').validate();
  		$('#addBookBut').click(function(ev){
  			
  			if($("#addBookForm").valid()){
  				$('#loader').show();
  				$('#addBookBut').hide();
  				
  				var paramObj = {};
				$.each($('#addBookForm').serializeArray(), function(_, kv) {
  					paramObj[kv.name] = kv.value;
				});
				//socket.emit('newBook', paramObj);
				
				
				$.ajax({
  					url: "/ajax",
  					context: document.body,
  					data: paramObj,
  					type: 'POST'
				}).done(function(data) {
  					//console.log(data);	
				});
				
  				
  				

  			}
  			
			return false;		
  		
  		});
  		socket.emit('addbookReady', {});
  		
  	});
  	
	</script>
	
  </head>

  <body>
	{% include "header.html" %}
    

    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" %}
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Add a new book</h1>

          <div class="table-responsive">
            <form name="addBookForm" id="addBookForm" method="POST" action="self">
           	<div class="form-group">
            
            <input type="text" name="title" value="" placeholder="Title" required="required"/><br/><br/>
            
            <input type="text" name="code" value="" placeholder="Code" required="required"/><br/><br/>
            
            <input type="text" name="isbn" value="" placeholder="ISBN" required="required"/><br/><br/>
            
            
            <textarea name="description" rows="3" cols="60" placeholder="Book description" required="required"></textarea><br/><br/>
            <textarea name="authors" rows="3" cols="60" placeholder="Authors (separated by comma)" required="required"></textarea><br/><br/>
            
            <input type="text" name="amount" value="" placeholder="Amount of books" required="required"/><br/><br/>
            
            <input type="text" name="image" value="" placeholder="Image name (no paths)" required="required"/><br/><br/>
            
            <textarea name="keywords" rows="3" cols="60" placeholder="Keywords (separated by comma)" required="required"></textarea><br/><br/>
            
            <input type="button" value="Add Book" id="addBookBut" class="btn btn-success"/>
            <img src="resources/img/loader.gif" style="display: none;" width="25" id="loader"/>
            
            </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    
    
  </body>
</html>
