<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SOFT Library</title>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <link href="resources/css/dashboard.css" rel="stylesheet">
    <link href="resources/css/cmxform.css" rel="stylesheet">
    
    <script src="resources/js/jquery-1.11.0.min.js"></script>
  
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
	<script src="resources/js/lib.js"></script>
	<script src="resources/js/tracer.js"></script>
	
	<script>
	
	var miaj = new MIAJ();	
	
	
	var meta_channels = [new CAUSEWAY(true),new Debugger(false),new Default()];
	
	
	var jquerych = new jQueryChannel();
	
	jquerych.setMetachannels(meta_channels);
	miaj.subscribe(jquerych);
	
	
	var socket = new SocketIOChannel(io.connect('http://127.0.0.1:8124'));
	
	
	socket.setMetachannels(meta_channels);
	miaj.subscribe(socket);
	
	
  	socket.on('book_info_response', function (book) {
  		if(book.length > 0){
  			$('#imageBook').html('<img width="150px" src="/resources/img/'+book[0].image+'"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;');
			var html = createBookInfo(book[0]);
			$('#bookInfo').html(html);
		}
  	});
  	
  	
  	var isPossibleToLendBookRequests = 3;
  	var responseTuple = {book_available: false, user_can_lend: false, user_blocked: false};
  	
  	$(document).ready(function(){
  		
	socket.emit('book_info', {id_book: $('#id_book').val()});
  		
	//document.getElementById('lendBook').addEventListener('click',function(){
  			
  	$('#lendBook').click(function(){
  			$('#loader').show();
  			socket.emit('book_available', {id_book: $('#id_book').val()});
  			socket.emit('user_can_lend', {id_book: $('#id_book').val()});
  			socket.emit('user_blocked', {id_book: $('#id_book').val()});
  	});
  		
  		
  		


  	});
  	
  	socket.on('book_available_response', function (data) {
  		$('#book_available_s').html(data.status ? 'true' : 'false');
  		addCorrespondingClass('#book_available_s',data.status);
  		
  		responseTuple.book_available = data.status;
  		isPossibleToLendBookRequests--;
  		Teller();
  		
  	});
  	socket.on('user_can_lend_response', function (data) {
  		$('#user_can_lend_s').html(data.status ? 'true' : 'false');
  		addCorrespondingClass('#user_can_lend_s',data.status);
  		
  		responseTuple.user_can_lend = data.status;
  		isPossibleToLendBookRequests--;
  		Teller();
  	
  	});
  	socket.on('user_blocked_response', function (data) {
  		$('#user_blocked_s').html(data.status ? 'true' : 'false');
  		addCorrespondingClass('#user_blocked_s',data.status);
  		
  		responseTuple.user_blocked = data.status;
  		isPossibleToLendBookRequests--;
  		Teller();
  	});
  	
  	function addCorrespondingClass(element,val){
  		$(element).removeClass('label-danger');
  		$(element).removeClass('label-success');
  		if(val) $(element).addClass('label-success');
  		else $(element).addClass('label-danger');
  		
  	}
  	
  	function Teller(){
  		if(isPossibleToLendBookRequests > 0) return;
  		else $('#loader').hide();
  	}
  	
	</script>
	
  </head>

  <body>
	{% include "header.html" %}
    

    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" %}
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Book Detail</h1>

          <div class="table-responsive">
            
           	<div class="form-group">
           	<table>
           	<tr>
           	<td id="imageBook">
           	<img src="resources/img/loader.gif"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
           	</td>
           	<td id="bookInfo">
        	
        	</td>
        	</tr>
        	<table>
            <br/><br/>
            <input type="button" value="Lend Book" id="lendBook" class="btn btn-warning"/>
            &nbsp;<img src="resources/img/loader.gif" style="display: none;" width="25" id="loader"/>
            
            <input type="hidden" id="id_book" name="id_book" value="{{ id_book }}"/>
            </div>
            </form>
          </div>
          <table align="right">
          <thead><tr><th>Book Available&nbsp;&nbsp;&nbsp;&nbsp;</th><th>User can lend&nbsp;&nbsp;&nbsp;&nbsp;</th><th>User blocked</th></tr></thead>
          <tr><td><span class="label label-danger" id="book_available_s">false</span></td><td><span class="label label-danger" id="user_can_lend_s">false</span></td><td><span class="label label-success" id="user_blocked_s">true</span></td></tr>
          </table>
        </div>
      </div>
    </div>

    
    
  </body>
</html>
