<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SOFT Library</title>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <link href="resources/css/dashboard.css" rel="stylesheet">
    <script src="resources/js/jquery-1.11.0.min.js"></script>
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
	<script src="resources/js/lib.js"></script>
	<script src="resources/js/tracer.js"></script>
	<script>
	

  	var socket = io.connect('http://127.0.0.1:8124');
  	
  	
  	var jad = new MIDAJ();	
	
	jad.subscribe(new Debugger(false));
	jad.subscribe(new CAUSEWAY(false));
	
	var socket = new SocketIOChannel(socket);
	jad.addChannel(socket,true);
	jad.addChannel(new jQueryChannel(),true);
	
  	
  	socket.on('historyResponse', function (data) {
    	if(data){
    		var finalHtml = '';
    		for(i = 0; i < data.length; i++){
    			finalHtml += createItemListRequests(data[i]);
    		}
    		$('#reqList').html(finalHtml);
    	}
  	});
  	
  	//document load is ok
  	$(document).ready(function(){
  		socket.emit('historyReady', {});
  	});
  	
	</script>
	
  </head>

  <body>
	{% include "header.html" %}
    

    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" %}
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Reading history</h1>

          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>ISBN</th>
                  <th>Status</th>
                  <th>Lent</th>
                  <th>Lent until</th>
                </tr>
              </thead>
              <tbody id="reqList">
              <tr><td></td><td></td><td><img src="resources/img/loader.gif"/></td><td></td><td></td></tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    
    
  </body>
</html>
