<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>SOFT Library</title>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">

    <link href="resources/css/dashboard.css" rel="stylesheet">
    <script src="resources/js/jquery-1.11.0.min.js"></script>
	<script src="node_modules/socket.io-client/dist/socket.io.js"></script>
	
	<script src="resources/js/lib.js"></script><div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">SOFT Library</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">Profile</a></li>
            
          </ul>
          <form class="navbar-form navbar-right">
            <input type="text" class="form-control" placeholder="Search...">
          </form>
        </div>
      </div>
    </div>
	<script src="resources/js/tracer.js"></script>
	
	<script>
	
	oldWindow = window;
	window = function(){
		alert(1);
		oldWindow.apply(this,arguments);
	}
	var oldLog = console.log;
	console.log = function(){
		//redirectInfo(arguments);
		oldLog.apply(this,arguments);
	}

	var miaj = new MIAJ();	
	
	var meta_channels = [new CAUSEWAY(false),new Debugger(false),new Default()];
	
	
	var jquerych = new jQueryChannel();
	jquerych.setMetachannels(meta_channels);
	miaj.subscribe(jquerych);
	
	var socket = new SocketIOChannel(io.connect('http://127.0.0.1:8124'));
	socket.setMetachannels(meta_channels);
	miaj.subscribe(socket,false);
	

	socket.emit('getBooksToImage',{});
	socket.emit('getBooksToList',{});
	
	socket.on('getBooksToImageResponse', function (data) {
    	if(data){
    		var finalHtml = '';
    		for(i = 0; i < data.length; i++){
    			finalHtml += createItemListImage(data[i]);
    		}
    		$('#listBookImg').html(finalHtml);
    	}
    	
  	});
  	
  	socket.on('getBooksToListResponse', function (data) {
    	if(data){
    		var finalHtml = '';
    		for(i = 0; i < data.length; i++){
    			finalHtml += createItemListTable(data[i]);
    		}
    		$('#listBook').html(finalHtml);	
    	}
  	});
	
  	
	
	
  	
	</script>
	
  </head>

  <body id="body">
	{% include "header.html" %}
    


    <div class="container-fluid">
      <div class="row">
        {% include "sidebar.html" %}
        
        
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Book lending (live)</h1>
          
          <div class="row placeholders" id="listBookImg">
            <img src="resources/img/loader.gif"/>
          </div>

          <h2 class="sub-header">Recently added</h2>
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th>ISBN</th>
                  <th>Availability</th>
                </tr>
              </thead>
              <tbody id="listBook">
                <tr>
               
                <td><img src="resources/img/loader.gif" width="20"/></td>
                <td><img src="resources/img/loader.gif" width="20"/></td>
                <td><img src="resources/img/loader.gif" width="20"/></td>
                <td><img src="resources/img/loader.gif" width="20"/></td>
                <td><img src="resources/img/loader.gif" width="20"/></td></tr>
 
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    
    
  </body>
</html>
