<div class="col-sm-3 col-md-2 sidebar">
          
          <ul class="nav nav-sidebar">
            <li id="homeItem" {% if pageName == 'index' %}class="active"{% endif %}><a href="/">Home</a></li>
            <li id="reqItem" {% if pageName == 'requests' %}class="active"{% endif %}><a href="/requests">My requests</a> </li>
            <li id="historyItem" {% if pageName == 'history' %}class="active"{% endif %}><a href="/history">Reading history</a></li>
            <li id="historyItem" {% if pageName == 'addBook' %}class="active"{% endif %}><a href="/addbook">Add book</a></li>
          </ul>
          
        </div>